.top{
    background-color: #B6FFCE;   
    position: relative;
    padding-top: 100px;
    
}

body{
    margin: 0px;
    text-align: center;
    font-family: "";
    font-family: 'Merriweather', serif;
}

.middle-container{

}

h1{
    font-size: 5.625rem; /* 100% = 16px. So if we want 90px then (90 * 16)/100 = 562.5% */
    /*using em 16px = 100% = 1em. So instead of 562.5% we can also use 5.62em*/
    /*using dynamic fonts is preferrable so that it changes with size of screen. 
    % and em are dynamic.
    Actually em is relative to its parent so when we say 5.62 em it means its 5.62 times its parent i.e. the body.
    5.625 rem is relative to root. Its less error pron as it does not depend on its parent. */
    margin: 50px auto 0 auto;
    font-family: 'Mea Culpa', cursive;
    margin-bottom: 0px;
    color: #228b22;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    /*color: #3cb371;*/
    color: #66BFBF;
    /*color: #40e0d0;*/
    line-height: 2;
}

.sub-title{
    color: #3cb371;
}

h3{
    font-family: 'Montserrat', sans-serif;
    /*color: #20b2aa;*/
    /*color: #40e0d0;*/
    color: #11999E;
}
.cloud1{
    position: absolute;
    right: 400px;
    top: 50px;
}

.cloud2{
    position: absolute;
    
}

.skill-row{
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 2;
}

.skill1{
    width: 25%;
    margin-right: 30px;
    float: left;     /* used for wrapping text around */
}

.skill2{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.profile{
    margin-top: 2.5%;
}

.intro{
    padding: 0px 400px 0px 400px;
}

hr{
    margin: 90px auto 90px auto;
    border-bottom: 10px dotted #c0c0c0;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 8%;
    height: 1px;
}

.btn{
    background-color:#228b22 ; /* Green */
    /*background-color: #20b2aa;*/
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px auto 50px auto;
}

.bottom-container{
    background-color:#B6FFCE;
    color: #3cb371; 
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer-link{
    /*color: #20b2aa;*/
    color: #11999E;
    padding: 2.5%;
    
}

.copyright{
    margin: 20px auto 20px auto;
}

/* Relative position: the element moves relative to its original position 
here, other things are not affected.

Absolute position: the element moves relative to its parent's position
here, other things are affected. 

Fixed position: the element stays at its place even when we are scrolling the website.

Remeber: child sits on top of parent

margin: top right bottom left*/